*{
    margin: 0;
    padding: 0;
}

.nav-link {
    font-size: 20px;
}

.nav-link a{
    color: black;
    text-decoration: none;
}

.nav-link a:hover{
    color: orangered;
}

.btn-contact {
    background-color: orangered;
    color: white;
    padding: 10px;
    width: 100px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
}